body{
    background-color:#2D2C2C;

}

.landing-page{
  max-width:800px;
  width:100%;
  margin:0 auto;
  background-color:#2D2C2C;
  color:#9F9C9C;
}

.landingIntro{
  width:100%;
  max-width:400px;
}
.emphasized-intro{
  color:white;
  /* background-color:#ffc733; */
}


/* todo - ABOUT ME SECTION */
.profile-pic{
  height:100px;
}



/* TODO: CHANGE WIDHT TO 100% / height to auto   */
.blog img{
  width:100%;
  height:100%;
  filter:grayscale(100%);
  background-color:#ece9ee;
  overflow:hidden;
  border-radius:5px;
  box-shadow: 0 10px 5px rgba(0,0 ,0, .55);
}

.blog-container {
  position: relative;
  width:170px;
  height:170px;
  margin:15px;
  /* border:1px solid black; */
}

.blog-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.blog-action {
  transition: .5s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:90%;
}

.blog-container:hover .blog-image {
  opacity: 0.4;
}

.blog-container:hover .blog-action {
  opacity: 1;
}

.blog-title {
  /* background-color: #4CAF50; */
  color: white;
  font-size: 16px;
  /* border:1px solid red; */
  width:100%;
}

.blog{
  max-width:900px;
  width:100%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
    background-color:#2D2C2C;

}