

.landing-page{
  max-width:800px;
  width:100%;
  margin:0 auto;
  background-color:#2D2C2C;
  color:#9F9C9C;
}

.landingIntro{
  width:100%;
  max-width:400px;
}
.emphasized-intro{
  color:white;
  /* background-color:#ffc733; */
}